body{
    display:block;
}
nav{
    background-color: rgb(1, 183, 255);
}
.nav{
    margin-block-start: 0px;
    margin-block-end: 0px;
    display:flex;
    padding:20px;
    list-style: none;
    font-size: 1em;
  
    
}
.nav li a{ 
    margin:0px 4px;
    text-decoration: none;
    color: snow;
}
.push{
    margin-left: auto;
}
.cover{
    display: flex;
    background-color: teal;
    height: 80vh;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.grid-wrap{
    background-color: turquoise;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(260px,1fr));

}
.box{
    padding: 10px;
}
.box img{
    width:100%;
}
.footer{
    background-color: darkblue;
    font-size: 1.5em;
    text-align: center ;
    color: floralwhite;
    height: 5vh;
}
@media only screen (maxwidth:768){
    body{
        width:100vw;
    }
}